MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/dentstory?retryWrites=true&w=majority
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
NODE_ENV=production
PORT=5000
CLIENT_URL=https://your-frontend-domain.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
